/* general layout */

.pp-graphsearch-single-block{
  display: flex;
}

.pp-graphsearch-single-block > .pp-graphsearch-area-left {
  width: 25%;
  margin-right:3em;
}

.pp-graphsearch-single-block > .pp-graphsearch-area-right {
  width: 75%;
}

/* filters */

.pp-graphsearch-filters-form .views-exposed-form .form-checkboxes .form-item,
.pp-graphsearch-filters-form .views-exposed-form .form-select .form-item {
  display: flex;
  align-items: baseline;
  margin-bottom:0;
  width:100%;
}

summary{
  display:list-item;
}

.pp-graphsearch-filters-form .views-exposed-form .form-item-container{
  display: flex;
  align-items: baseline;
}

.pp-graphsearch-filters-form .views-exposed-form .tree-open-close {
  border-left: 4px solid transparent;
  border-right:4px solid transparent;
  border-bottom: 7px solid black;
  border-top: none;
  position: relative;
  cursor:pointer;
  margin-left:5px;
  width:0;
  height:0;
}
.pp-graphsearch-filters-form .views-exposed-form .tree-open-close.collapsed {
  border-left: 7px solid black;
  border-right:none;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;

}

.pp-graphsearch-filters-form .views-exposed-form .tree-depth{
  margin-left: 18px;
  display:none;
}

/* search bar */

.pp-graphsearch-search-bar  {
  display: flex;
  align-items: flex-start;
}

.pp-graphsearch-search-bar .form-item-search-string{
  margin-top:0;
}

.pp-graphsearch-search-bar .button{
  margin-left:1em;
}

.pp-graphsearch-search-bar label{
  visibility: hidden;
  margin:0;
  height:0;
  position: absolute;
}

/* facet box */

.facets-empty{
  font-style: italic;
}

.facet-box .facet-item{
  display: inline-block;
  border-bottom: none;
}
.facet-box .facet-item .facet-label{
  cursor: pointer;
  margin-right: 0.5em;
  background:#333;
  color:white;
  font-size:13px;
  border-radius: 12px;
  padding: 0.2em 0.8em;
  line-height:1.3em;
}

.facet-box .facet-item .facet-label:after{
  content:"\00d7";
  margin-left: 0.5em;
  font-weight: bold;
  font-size: 1.2em;
  vertical-align: bottom;
}

.filter-operations{
  margin-top: 10px;
}

.filter-operations a{
  cursor:pointer;
  margin-right: 1em
}


/* search-filters */
.search-filters{
  margin-top: 20px;
  font-size: 14px;
}

.search-filters ul li{
  margin-bottom: 10px;
}

.search-filters .search-filter-title{
  font-weight: bold;
}

/* results*/

.pp-graphsearch-results-count{
  font-weight:bold;
  margin-top: 20px;
}

.view-pp-graphsearch-list .views-row{
  margin-top: 3em;
}

.view-pp-graphsearch-list .views-field-title{
  font-weight: bold;
  font-size: 1.3em;
}

.views-field-pp-graphsearch-tags .views-label-pp-graphsearch-tags,
.views-field-pp-graphsearch-tags .field-content{
  display: inline;
}

.views-field-pp-graphsearch-more-like-this a.similar-more{
  cursor: pointer;
  margin-top: 0.5em;
  display: table;
}

.views-field-pp-graphsearch-more-like-this a.similar-more:before{
  content:"";
  border-left: 7px solid black;
  border-right:none;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  display: inline-block;
  cursor:pointer;
  margin: 0 7px 0 2px;
}

.views-field-pp-graphsearch-more-like-this a.similar-more.container-open:before{
  border-left: 4px solid transparent;
  border-right:4px solid transparent;
  border-bottom: 7px solid black;
  margin: 0 6px 2px 2px;
}


.views-field-pp-graphsearch-more-like-this .similar-content{
  margin-left: 3em;
}



@media only screen and (max-width: 920px) {

  .pp-graphsearch-single-block{
    display: block;
  }
  .pp-graphsearch-single-block > .pp-graphsearch-area-left {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1.5em;
  }

  .pp-graphsearch-single-block > .pp-graphsearch-area-right {
    width: 100%;
    margin-bottom: 1.5em;
  }
}
